<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/overlay.css">
    <link rel="stylesheet" href="/fab.css">
    <link rel="stylesheet" href="/style.css">
    <title>RecRite</title>
  </head>
  <body>
    <header>
      <h1><a href="/" class="logo"></a><a href="/">RecRite</a></h1>
      <%= erb(:"filters/mobile_filter")%>
      <%= erb(:"filters/search_form") %>
    </header>


    <nav class="container">
    <a id="new-stockrule-link" href="/stockrules/new" class="buttons blue" tooltip="New Stockrule"></a>
    <a id="new-album-link" href="/albums/new" class="buttons blue" tooltip="New Album"></a>
    <a id="new-artist-link" href="/artists/new" class="buttons blue" tooltip="New Artist"></a>
    <a id="add-link"class="buttons blue" tooltip="Add"></a>

  </nav>


    <div class="flex-container">
      <%= yield %>
    </div>

  </body>
</html>
