
<form action="/stockrules" method="post">
  <label for="name">rule name</label>
  <input id="name" type="text" name="name" >

  <label for="stock_high">high alert level</label>
  <input id="stock_high" type="number" name="stock_high" value="">

  <label for="stock_medium">medium alert level</label>
  <input id="stock_medium" type="number" name="stock_medium" value="">

  <label for="stock_low">low alert level</label>
  <input id="stock_low" type="number" name="stock_low" value="">

  <input type="submit" value="submit">
</form>
