
#op{
  display:none;
}

.lower {
  display: flex;
  align-items: center;
  height: 100%;
}

.lower label {
}

.lower .filter-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-image: url(iconmonstr-filter-1.svg)
}

.lower label:hover{
  cursor:pointer;
}

.overlay{
	position: fixed;
	width: 100%;
	height: calc(100% - 51px);
	bottom: 0;
	left: 0;
  background-color: white;
}

.overlay #op-control{
	width: 25px;
	height:25px;
	position: absolute;
	right: 20px;
	top: 20px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
	background-image: url(iconmonstr-x-mark-1.svg);
	z-index: 100;
  cursor:pointer;
}

.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
  left: 25%;
	font-size: 1.5em;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.lower~.overlay-hugeinc{
	opacity: 0;
	visibility: hidden;
}

#op:checked~.overlay-hugeinc{
	opacity: 1;
	visibility: visible;
}

.overlay-hugeinc nav {
	-moz-perspective: 300px;
}
