<aside id="desktop-filter" class="aside list-container">

  <form action="/filter" method="post">

    <div class="item form">
      <div class="form-item">
        <label for="stock_level">stock level</label>
        <select name="stock_level">
          <option value="any">any</option>
          <option value="high">low stock level</option>
          <option value="medium">medium stock level</option>
          <option value="low">high stock level</option>
        </select>
      </div>

      <div class="form-item">
        <label for="artist_id">artists</label>
        <select name="artist_id">
          <option value="any">any</option>
          <% @artists.each  do |artist| %>
          <option value="<%= artist.id %>"><%= artist.name %></option>
          <% end %>
        </select>
      </div>

      <input type="submit" name="" value="filter">

    </div>
  </form>
</aside>
