
<form action="/filter" method="post">
  <label for="stock_level">stock level</label>
  <select name="stock_level">
    <option value="any">any</option>
    <option value="high">high</option>
    <option value="medium">medium</option>
    <option value="low">low</option>
  </select>

  <input type="submit" name="" value="filter">
</form>
