<form class="search_box" action="/filter/search" method="post">
  <input class="search" type="text" name="search" value="" placeholder="Search">
  <input type="submit" value="search" hidden="true">
</form>
